---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Reconecta2@blog";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Mi Blog Personal</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
